@model IEnumerable<ConfDomain.Model.Publication>

@{
    ViewData["Title"] = "Index";
}

<h1>Publication page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
        <div class="row">
            <div class="col-3">
                <div id="countByDayChart"></div>
            </div>
        </div>

        @section Scripts {
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawCharts);

                function drawCharts() {
                    fetch('/api/charts/countByDay')
                        .then(response => response.json())
                        .then(data => {
                            const dataTable = new google.visualization.DataTable();
                            dataTable.addColumn('string', 'Day');
                            dataTable.addColumn('number', 'Publication count');

                            data.forEach(item => {
                                dataTable.addRow([item.day, item.count]);
                            });

                            const options = {
                                title: 'Publication by day',
                                width: 600,
                                height: 400,
                                legend: { position: 'none' },
                            };

                            const chart = new google.visualization.ColumnChart(document.getElementById('countByDayChart'));
                            chart.draw(dataTable, options);
                        });
                }
            </script>
        }

    


    </tbody>
</table>
