@model ConfDomain.Model.Conference
@{
    ViewData["Title"] = "Conference Details";
}

<section class="user-list-section">
    <div class="mb-4">
        <h1 class="mb-1">@ViewData["Title"]</h1>
    </div>

    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Title)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Title)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Description)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Description)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Date)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Date)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Place)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Place)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Price)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Price)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.PublicationId)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.PublicationId)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Organizator)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(m => m.Organizator.Name)</dd>

        @if (!string.IsNullOrEmpty(Model.Image_path))
        {
            <dt class="col-sm-2">Image</dt>
            <dd class="col-sm-10">
                <img src="@Model.Image_path" alt="Conference Image" style="max-width:400px;" />
            </dd>
        }
    </dl>

    <div class="mt-3">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-user me-2">Edit</a>
        <a asp-action="Index" class="btn btn-outline-user">Back to List</a>
    </div>
</section>
