@model IEnumerable<ConfDomain.Model.Conference>

@{
    ViewData["Title"] = "Index";
}

<h1>Conference page</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizator)
            </th>
            <th>
                Image
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PublicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizator.Name)
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Image_path))
                    {
                        <img src="@item.Image_path" alt="Conference Image" style="max-width:100px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}

        <div class="row">
            <div class="col-3">
                <div id="countByMonthChart"></div>
            </div>
        </div>

        @section Scripts {
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawCharts);

                function drawCharts() {
                    fetch('/api/charts/countByMonth')
                        .then(response => response.json())
                        .then(data => {
                            const dataTable = new google.visualization.DataTable();
                            dataTable.addColumn('string', 'Month');
                            dataTable.addColumn('number', 'Conference count');

                            data.forEach(item => {
                                dataTable.addRow([item.month, item.count]);
                            });

                            const options = {
                                title: 'Conference by month',
                                width: 600,
                                height: 400,
                                legend: { position: 'none' },
                            };

                            const chart = new google.visualization.ColumnChart(document.getElementById('countByMonthChart'));
                            chart.draw(dataTable, options);
                        });
                }
            </script>
        }

       

       
    </tbody>


</table>
